{% extends 'base.html' %}
{% block content %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <a href="{% url 'password_reset_done' %}">  <button class="ml-4 inline-flex text-gray-700 bg-gray-100
        border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">resetpassword</button></a>
    
    <hr />
    
</form>

<h3> Don't want to reset? Back to home </h3>
<a href="{% url 'landing' %}">  <button class="ml-4 inline-flex text-gray-700 bg-gray-100
    border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Home</button></a>





{% endblock content %}