 
{% extends "base.html" %}
{% block content %}
{% load static %}

<body>
  
<img alt="photo" class="lg:w-1/5 ml-20 w-full lg:h-auto h-auto " src="{% static 'images\giphy.gif' %}">
<section class="flex h-screen flex items-top justify-left ml-20 "> 
    
{% comment %} <div class="flex items-center color-green" >
 {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
   
</ul>
{% endif %}
</div> {% endcomment %}

<h1>If you want to login again or create an account click the button &nbsp;&nbsp;&nbsp; </h1>
<br>
<a href="{% url 'landing' %}">
    <button class="flex  text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">HOME</button></a> 
</section>
{% endblock content %}

</body>


