

{% extends "base.html" %}
{% block content %}


<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
          <h2 class="text-sm title-font text-gray-500 tracking-widest">USER NAME</h2>
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{ user.username }}  </h1>
          <div class="flex mb-4">
            <a class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">Description</a>
            {% comment %} <a class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Reviews</a> {% endcomment %}
            <a href="{% url 'Users:user_update' user.id %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Update</a>
          </div>
          <p class="leading-relaxed mb-4">Fam locavore kickstarter distillery. Mixtape chillwave tumeric sriracha taximy chia microdosing tilde DIY. XOXO fam inxigo juiceramps cornhole raw denim forage brooklyn. Everyday carry +1 seitan poutine tumeric. Gastropub blue bottle austin listicle pour-over, neutra jean.</p>
          <div class="flex border-t border-gray-200 py-2">
            <span class="text-gray-500">First name</span>
            <span class="ml-auto text-gray-900">{{user.first_name}}</span>
          </div>
        <div class="flex border-t border-gray-200 py-2">
            <span class="text-gray-500">Lastname</span>
            <span class="ml-auto text-gray-900">{{ user.last_name }}</span>
          </div>
          <div class="flex border-t border-gray-200 py-2">
            <span class="text-gray-500">Email</span>
            <span class="ml-auto text-gray-900">{{ user.email }}</span>
          </div>  
          
          
          
          <div class="flex">
            <a href="{% url 'Users:user_delete' user.id %}">
            <button class="flex mr-5 text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">DELETE</button></a> 
            <a href="{% url 'change_password' %}"> 
            <button class="flex ml-10 text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Change Password</button></a>
            </div>
         
         
     
       
      </div>
    </div>
  </section>



        
          
      
             {% endblock content %}
      